{% extends "templates/Layout.jinja2" %}
{% block content %}
  <table>
    <thead>
        <th>Guesser</th>
        <th>Sex</th>
        <th>Days Early (-) / Late (+)</th>
    </thead>
    {% for guess in guesses %}
    <tr>
        <td>{{guess.your_name}}</td>
        <td>{{guess.baby_sex}}</td>
        <td>{{guess.days_late}}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
