{% extends "templates/Layout.jinja2" %}
{% block content %}
  <form method="POST" action="" class="guess">
    <p>Jen and Ben are having a baby. <strong>Surprise!</strong></p>

    <p>Want to guess how big the parasite will be when it emerges? Feel like a bet on how much longer Jen is going to keep expanding? You've come to the right place!</p>

    <p>For an amazing prize (*) just fill in the form</p>
    </p>
    <div class="field">
      <label for="your_name">Your name</label><br>
      {% if error_your_name is defined %} <span class="error">You must enter your name</span>{% endif %}
      <input type="text" id="your_name" name="your_name" value="{{your_name}}">
    </div>
    <div class="field">
      <label for="Boy">Baby's sex</label><br>
      {% if error_baby_sex is defined %} <span class="error">You must enter a sex for the baby</span>{% endif %}
      <input type="radio" id="Boy" name="baby_sex" value="Boy"{{ ' checked' if baby_sex is equalto 'Boy' }}><span class="sex">Boy</span>
      <input type="radio" id="Girl" name="baby_sex" value="Girl"{{ ' checked' if baby_sex is equalto 'Girl' }}><span class="sex">Girl</span>
    </div>
    <div class="field">
      <label for="days_late">How many days early or late will the baby be?</label><br>
      {% if error_days_late is defined %} <span class="error">You must enter how many days early or late the baby will be?</span>{% endif %}
      <select name="days_late" id="days_late" class="early_late">
        <option value="-29" {{ 'selected' if days_late == '-29'}}>29 days early</option>
        <option value="-28" {{ 'selected' if days_late == '-28'}}>28 days early</option>
        <option value="-27" {{ 'selected' if days_late == '-27'}}>27 days early</option>
        <option value="-26" {{ 'selected' if days_late == '-26'}}>26 days early</option>
        <option value="-25" {{ 'selected' if days_late == '-25'}}>25 days early</option>
        <option value="-24" {{ 'selected' if days_late == '-24'}}>24 days early</option>
        <option value="-23" {{ 'selected' if days_late == '-23'}}>23 days early</option>
        <option value="-22" {{ 'selected' if days_late == '-22'}}>22 days early</option>
        <option value="-21" {{ 'selected' if days_late == '-21'}}>21 days early</option>
        <option value="-20" {{ 'selected' if days_late == '-20'}}>20 days early</option>
        <option value="-19" {{ 'selected' if days_late == '-19'}}>19 days early</option>
        <option value="-18" {{ 'selected' if days_late == '-18'}}>18 days early</option>
        <option value="-17" {{ 'selected' if days_late == '-17'}}>17 days early</option>
        <option value="-16" {{ 'selected' if days_late == '-16'}}>16 days early</option>
        <option value="-15" {{ 'selected' if days_late == '-15'}}>15 days early</option>
        <option value="-14" {{ 'selected' if days_late == '-14'}}>14 days early</option>
        <option value="-13" {{ 'selected' if days_late == '-13'}}>13 days early</option>
        <option value="-12" {{ 'selected' if days_late == '-12'}}>12 days early</option>
        <option value="-11" {{ 'selected' if days_late == '-11'}}>11 days early</option>
        <option value="-10" {{ 'selected' if days_late == '-10'}}>10 days early</option>
        <option value="-9" {{ 'selected' if days_late == '-9'}}>9 days early</option>
        <option value="-8" {{ 'selected' if days_late == '-8'}}>8 days early</option>
        <option value="-7" {{ 'selected' if days_late == '-7'}}>7 days early</option>
        <option value="-6" {{ 'selected' if days_late == '-6'}}>6 days early</option>
        <option value="-5" {{ 'selected' if days_late == '-5'}}>5 days early</option>
        <option value="-4" {{ 'selected' if days_late == '-4'}}>4 days early</option>
        <option value="-3" {{ 'selected' if days_late == '-3'}}>3 days early</option>
        <option value="-2" {{ 'selected' if days_late == '-2'}}>2 days early</option>
        <option value="-1" {{ 'selected' if days_late == '-1'}}>1 days early</option>
        <option value="0" {{ 'selected' if days_late == '0' or not days_late}}>On Time!!!</option>
        <option value="1" {{ 'selected' if days_late == '1'}}>1 days late</option>
        <option value="2" {{ 'selected' if days_late == '2'}}>2 days late</option>
        <option value="3" {{ 'selected' if days_late == '3'}}>3 days late</option>
        <option value="4" {{ 'selected' if days_late == '4'}}>4 days late</option>
        <option value="5" {{ 'selected' if days_late == '5'}}>5 days late</option>
        <option value="6" {{ 'selected' if days_late == '6'}}>6 days late</option>
        <option value="7" {{ 'selected' if days_late == '7'}}>7 days late</option>
        <option value="8" {{ 'selected' if days_late == '8'}}>8 days late</option>
        <option value="9" {{ 'selected' if days_late == '9'}}>9 days late</option>
        <option value="10" {{ 'selected' if days_late == '10'}}>10 days late</option>
        <option value="11" {{ 'selected' if days_late == '11'}}>11 days late</option>
        <option value="12" {{ 'selected' if days_late == '12'}}>12 days late</option>
        <option value="13" {{ 'selected' if days_late == '13'}}>13 days late</option>
        <option value="14" {{ 'selected' if days_late == '14'}}>14 days late</option>
        <option value="15" {{ 'selected' if days_late == '15'}}>15 days late</option>
        <option value="16" {{ 'selected' if days_late == '16'}}>16 days late</option>
        <option value="17" {{ 'selected' if days_late == '17'}}>17 days late</option>
        <option value="18" {{ 'selected' if days_late == '18'}}>18 days late</option>
        <option value="19" {{ 'selected' if days_late == '19'}}>19 days late</option>
        <option value="20" {{ 'selected' if days_late == '20'}}>20 days late</option>
        <option value="21" {{ 'selected' if days_late == '21'}}>21 days late</option>
        <option value="22" {{ 'selected' if days_late == '22'}}>22 days late</option>
        <option value="23" {{ 'selected' if days_late == '23'}}>23 days late</option>
        <option value="24" {{ 'selected' if days_late == '24'}}>24 days late</option>
        <option value="25" {{ 'selected' if days_late == '25'}}>25 days late</option>
        <option value="26" {{ 'selected' if days_late == '26'}}>26 days late</option>
        <option value="27" {{ 'selected' if days_late == '27'}}>27 days late</option>
        <option value="28" {{ 'selected' if days_late == '28'}}>28 days late</option>
        <option value="29" {{ 'selected' if days_late == '29'}}>29 days late</option>
        <option value="30" {{ 'selected' if days_late == '30'}}>30 days late</option>
      </select>
      <br><span class="fake_label">Predicted due date: </span><span class="due_date"></span>
    </div>
    <div class="field">
      <label for="pounds">How heavy will baby be at birth (pounds & ounces)?</label><br>
      {% if error_pounds is defined or error_ounces %} <span class="error">You must enter a weight for the baby</span>{% endif %}
      <input type="number" id="pounds" name="pounds" class="pounds" value="{{pounds}}" inputmode="numeric" min="0" max="20">lb
      <input type="number" id="ounces" name="ounces" class="ounces" value="{{ounces}}" inputmode="numeric">oz
      <br><span class="fake_label">Baby's weight in kilos: </span><span class="kilos_and_grams"></span>
    </div>
    <div class="field">
      <input type="hidden" name="submit" value="submit">
      <input type="submit" value="Enter guess!">
    </div>

    <br>
    <p>* No prize guaranteed! (especially after Ben gets killed for writing the introduction above)</p>
  </form>
{% endblock %}
