{% extends "templates/Layout.jinja2" %}
{% block content %}
  <form method="POST" action="" class="guess">
    <p>Jen and Ben are having a baby. <strong>Surprise!</strong></p>

    <p>Want to guess how big the parasite will be when it emerges? Feel like a bet on how much longer Jen is going to keep expanding? You've come to the right place!</p>

    <p>For an amazing prize (*) just fill in the form</p>
    </p>
    <div class="field">
      <label for="your_name">Your name</label><br>
      {% if error_your_name is defined %} <span class="error">You must enter your name</span>{% endif %}
      <input type="text" id="your_name" name="your_name" value="{{your_name}}">
    </div>
    <div class="field">
      <label for="Boy">Baby's sex</label><br>
      {% if error_baby_sex is defined %} <span class="error">You must enter a sex for the baby</span>{% endif %}
      <input type="radio" id="Boy" name="baby_sex" value="Boy"{{ ' checked' if baby_sex is equalto 'Boy' }}><span class="sex">Boy</span>
      <input type="radio" id="Girl" name="baby_sex" value="Girl"{{ ' checked' if baby_sex is equalto 'Girl' }}><span class="sex">Girl</span>
    </div>
    <div class="field">
      <label for="days_late">How many days early (-numbers) or late (+numbers) will the baby be?</label><br>
      {% if error_days_late is defined %} <span class="error">You must enter how many days early (-) or late (+) the baby will be</span>{% endif %}
      <input type="number" id="days_late" name="days_late" class="early_late" value="{{days_late}}" inputmode="numeric" min="-30" max="30">
      <br><span class="fake_label">Predicted due date: </span><span class="due_date"></span>
    </div>
    <div class="field">
      <label for="pounds">How heavy will baby be at birth (pounds & ounces)?</label><br>
      {% if error_pounds is defined or error_ounces %} <span class="error">You must enter a weight for the baby</span>{% endif %}
      <input type="number" id="pounds" name="pounds" class="pounds" value="{{pounds}}" inputmode="numeric" min="0" max="20">lb
      <input type="number" id="ounces" name="ounces" class="ounces" value="{{ounces}}" inputmode="numeric">oz
      <br><span class="fake_label">Baby's weight in kilos: </span><span class="kilos_and_grams"></span>
    </div>
    <div class="field">
      <input type="hidden" name="submit" value="submit">
      <input type="submit" value="Enter guess!">
    </div>

    <br>
    <p>* No prize guaranteed! (especially after Ben gets killed for writing the introduction above)</p>
  </form>
{% endblock %}
